<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    引入css文件   #}
<link rel="stylesheet" href="/static/css/outer.css">
{#  引入js文件  #}
{#<script src="/static/js/outer.js"></script>#}
<script src="/static/js/jquery.js"></script>

</head>
<body>
<span>引用外部css文件</span>
<img src="/static/images/xm.jpg" width="300px" height="300px">
</body>
<script>
    $.ajax_users({
        type: "get", //请求方式  get/post
        url: "/ajax_users/", //请求地址
        data: null, //传递到后台的参数
        success: function(msg){  //成功回调函数
           alert(msg);
           $('span').html(msg);
        },
        error:function (){
            console.log('出错了！！！')
        }

    });
</script>
</html>